<html>
    <head>
        <title>My Blog</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>
    <body>
        <nav class="d-flex justify-content-end align-items-center flex-row flex-nowrap">
            <span class="pr-3"> Welcome, {{ user.username }}</span>
            <span class="py-3 mr-3">
                <a class="nav-link border rounded" href="{% url 'logout' %}">Log Out
                </a>
            </span>
        </nav>
        <div id="main">
            <h1 class="text-bold jumbotron mx-n4 px-5">
                Blog
                <small class="lead">System</small>
            </h1>
                <a href="/feeds/posts/"><img src="/static/rss.png" width="50px" height="50px"></a>
            <ul id="pageList">
                <li><a href="{% url 'home' %}">Home</a></li>
                
            </ul>
            
        