<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog App</title>
</head>
<body>
    <h1>HOME</h1>
    <nav class="d-flex justify-content-end align-items-center flex-row flex-nowrap">
        <span class="py-3 mr-3">
            <a class="nav-link border rounded" href="{% url 'login' %}">Log In
            </a>
        </span>
    <ul>
        {% for post in object_list %}
        <h2><a href="{% url ''%}">{{ post.title }}</a></h2>
        <img src="{{post.cover.url}}" alt="{{post.title}}">
        <p>{{ post.body | slice:":400" }}...<a href="{% url 'login'%">readmore</a></p>
        <small>
            {{ post.created_on.date }} |&nbsp;
            Categories:&nbsp;
            {% for category in post.categories.all %}
            <a href="{% url 'categories' category.name %}">
                {{ category.name }}
            </a>&nbsp;
            {% endfor %}
        </small>
        
        {% endfor %}
    </ul>
</body>
</html>